---
import type { CollectionEntry } from "astro:content";
import type { Contact, Education } from "../content.config.ts";
import { getEntry } from 'astro:content';

import Row from './Row.astro';
import Yearrange from './Yearrange.astro';
import Citystate from './Citystate.astro';
import Institution from './Institution.astro';
import Thesis from './Thesis.astro';

type Inst = CollectionEntry<"institutions">
type ThesisType = CollectionEntry<"theses">

interface Props {
    degree: Education
}

const { degree } = Astro.props;

const institution: Inst = await getEntry(degree.institution);

const contact: Contact = institution.data.contact;

const thesis: ThesisType | null = degree?.thesis ? await getEntry(degree.thesis) : null;

---

<Row>
    <Yearrange start={degree.startDate} end={degree.endDate} slot="left"/>
    <ul slot="right">
        <li class="has-text-weight-bold">{degree.short}, {degree.subject}</li>
        <li><Institution {institution}/><Citystate address={contact && contact.address ? contact.address : null}/></span></li>
        {thesis && <Thesis {thesis} /> }
    </ul>
</Row>