---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import type { Contact, Experience } from "../content.config.ts";

import Section from "./Section.astro";

type Vita = CollectionEntry<"vita">;

interface Props {
    vita: Vita;
}

const { vita } = Astro.props;

type Person = CollectionEntry<"people">;
type Institution = CollectionEntry<"institutions">;

const person: Person = await getEntry(vita.data.person);
const primary: Experience = person.data.experience[0];
const inst: Institution = await getEntry(primary.institution);
const contact: Contact | null = inst.data.contact;

const title = person.data.creds
    ? [person.data.name, person.data.creds.join(", ")].join(", ")
    : person.data.name;
---

<Section name={title} classes="title is-3">
    <div class="columns">
        <div class="column is-offset-one-fifth is-four-fifths">
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>{primary.name}</li>
                        <li>{inst.data.name}</li>
                        {
                            contact && contact.address ? (
                                <li>{contact.address.address}</li>
                            ) : null
                        }
                        {
                            contact && contact.address ? (
                                <li>
                                    {contact.address.muni},{" "}
                                    {contact.address.state}{" "}
                                    {contact.address.postal}
                                </li>
                            ) : null
                        }
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        {
                            contact && contact.email ? (
                                <li>{contact.email}</li>
                            ) : null
                        }
                        {contact && contact.url ? <li>{contact.url}</li> : null}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Section>

<style>
    .split {
        width: 50%;
    }
</style>
